@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --background: 215 28% 14%;
    --foreground: 210 40% 98%;
    --card: 215 28% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 215 28% 14%;
    --popover-foreground: 210 40% 98%;
    --primary: 28 80% 52%;
    --primary-foreground: 215 28% 14%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 215 28% 20%;
    --muted-foreground: 215 28% 65%;
    --accent: 271 44% 76%;
    --accent-foreground: 215 28% 14%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 24%;
    --input: 215 28% 24%;
    --ring: 28 80% 52%;
    --radius: 0.5rem;
    --chart-1: 28 80% 52%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
